.myexperience{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}

.myexperience-title{
    position: relative;
}

.myexperience-title h1{
    padding: 0px 30px0;
    font-size: 80px;
    font-weight: 600;
}

.myexperience-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}

.myexperience-container img{
    box-sizing: border-box;
    width: 420px;
    height: 280px;
    transition: 0.3s;
    cursor: pointer;
}

.myexperience-container img:hover{
    transform: scale(1.08);
    border: 4px solid #00aaff;
    border-radius: 10px;
    transition: 0.3s;
}

.myexperience-showmore{
    display: flex;
    gap: 15px;
    border-radius: 50px;
    border: 2px solid white;
    padding: 30px 60px;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 80px;
    transition: 0.6s;
}

.myexperience-showmore:hover{
    gap: 30px;
    transition: 0.6s;
}

@media(max-width:900px){
    .myexperience{
        align-items: start;
        gap: 7px;
        margin: 20px 70px;
    }

    .myexperience-title h1{
        padding: 0;
        font-size: 50px;
    }

    .myexperience-container{
        padding-top: 40px;
        padding-bottom: 20px;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .myexperience-container img{
        max-width: 300px;
        height: auto;
    }

    .myexperience-showmore{
        align-items: start;
        gap: 15px;
        border-radius: 30px;
        padding: 15px 40px;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 50px;
    }

    
}

@media(max-width:750px){

    .myexperience-container img{
        max-width: 250px;
        height: auto;
    }

}
